@charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Quicksand:wght@300;400;500&display=swap";
.logoLadipPrincipal {
  height: 100px;
  width: 210px;
}

.bannerSecundario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  /* height: 500px; */
  height: calc(100vh - 120px);
  width: 100%;
  background-image: url(https://images.pexels.com/photos/6758773/pexels-photo-6758773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position-x: center;
  background-position-y: 60%;
  margin-top: 12px;
}
.bannerSecundario p {
  color: whitesmoke;
  font-size: 24px;
  font-weight: 100;
  margin-right: 12px;
  padding: 8px;
  background-color: rgba(0, 0, 0, 0.562);
  border-radius: 8px;
}
.bannerSecundario a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 24px;
  border: 1px #D5D8DC solid;
  border-radius: 4px;
  padding: 4px;
}

/* Media Query del BANNER SECUNDARIO */
@media (max-width: 600px) {
  .bannerSecundario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/6758773/pexels-photo-6758773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    margin-top: 12px;
  }
  .bannerSecundario p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: whitesmoke;
    font-size: 16px;
    font-weight: 50;
    padding: 4px;
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 8px;
  }
  .bannerSecundario a {
    font-size: 16px;
  }
}
footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px black solid;
  padding: 12px;
}

.logoIg {
  height: 20px;
  width: 20px;
}

.logoFb {
  height: 20px;
  width: 20px;
}

@media (max-width: 600px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    font-size: 12px;
    padding: 6px;
  }
  footer article {
    border-bottom: 1px black solid;
  }
  footer article:nth-child(3) {
    border-bottom: none;
  }
}
body {
  font-family: "Alegreya Sans", sans-serif;
  background-color: #F8F9F9;
}

/* Estilos BANNER PRINCIPAL**************** */
.bannerPrincipal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  border-top: 1px black solid;
  height: calc(100vh - 100px);
  width: 100%;
  background-image: url(https://images.pexels.com/photos/323645/pexels-photo-323645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-size: cover;
  background-position-x: center;
  background-position-y: 30%;
}
.bannerPrincipal h1 {
  color: black;
  margin-right: 12px;
  margin-bottom: 0px;
  font-size: 28px;
}
.bannerPrincipal a {
  text-decoration: none;
  color: black;
  margin-right: 12px;
  font-size: 24px;
  border: 0.5px rgba(0, 0, 0, 0.226) solid;
  box-shadow: 0.5px 0.5px 0.5px;
  border-radius: 2px;
  padding: 4px;
  padding-top: 2px;
  padding-bottom: 2px;
}

/* Media Query*/
@media (max-width: 600px) {
  .navBar1 {
    display: none;
  }
  .logoLadipPrincipal {
    height: 67px;
    width: 147px;
  }
  .bannerPrincipal {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    background-image: url(https://images.pexels.com/photos/323645/pexels-photo-323645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position-x: 60%;
    background-position-y: 30%;
  }
  .bannerPrincipal h1 {
    color: black;
    margin-right: 12px;
    margin-left: 12px;
    font-size: 24px;
    font-weight: 400;
    background-color: rgba(255, 255, 255, 0.6509803922);
  }
  .bannerPrincipal a {
    font-size: 20px;
  }
}
/* Estilos del contenido Principal del INDEX********/
.contenidoPrincipalIndex {
  margin-top: 12px;
}
.contenidoPrincipalIndex h2 {
  font-size: 28px;
  border-bottom: 1px black solid;
  margin-top: 8px;
}
.contenidoPrincipalIndex h3 {
  font-size: 24px;
  border-bottom: 1px #D5D8DC solid;
}
.contenidoPrincipalIndex div {
  display: flex;
  align-items: center;
}
.contenidoPrincipalIndex img {
  height: 100%;
  width: 50%;
}
.contenidoPrincipalIndex span {
  margin-left: 28px;
  margin-right: 28px;
}
.contenidoPrincipalIndex a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  border: 1px #D5D8DC solid;
  border-radius: 4px;
  padding: 8px;
}

/* MediaQuery del contenido principal index */
@media (max-width: 600px) {
  .contenidoPrincipalIndex {
    display: flex;
    flex-direction: column;
  }
  .contenidoPrincipalIndex div {
    display: flex;
    flex-direction: column;
    margin: 2%;
  }
  .contenidoPrincipalIndex div:nth-child(3) {
    display: flex;
    flex-direction: column-reverse;
  }
  .contenidoPrincipalIndex div:nth-child(5) {
    display: flex;
    flex-direction: column-reverse;
  }
  .contenidoPrincipalIndex img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }
  .contenidoPrincipalIndex span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .contenidoPrincipalIndex h3 {
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 20px;
  }
  .contenidoPrincipalIndex a {
    margin-bottom: 12px;
    font-size: 12px;
  }
  .contenidoPrincipalIndex p {
    display: none;
  }
}
/*Estilos del contenido principal de EMPRESA*************/
.contenidoPrincipalEmpresa {
  margin-top: 12px;
}
.contenidoPrincipalEmpresa h2 {
  font-size: 28px;
  border-bottom: 1px black solid;
  margin-top: 8px;
  border-top: 1px black solid;
  padding: 16px;
}
.contenidoPrincipalEmpresa h3 {
  font-size: 24px;
  margin-top: 80px;
}
.contenidoPrincipalEmpresa div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contenidoPrincipalEmpresa img {
  height: 100%;
  width: 100%;
}
.contenidoPrincipalEmpresa span {
  margin-left: 28px;
  margin-right: 28px;
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .contenidoPrincipalEmpresa div {
    display: flex;
    flex-direction: column;
    padding: 5%;
  }
  .contenidoPrincipalEmpresa img {
    border-radius: 12px;
  }
  .contenidoPrincipalEmpresa h3 {
    padding: 5%;
    margin-top: 20px;
    font-weight: bold;
  }
}
/*Estilos del contenido principal de EMPRESA SEGUNDA VERSIÓN ¡¡¡¡PRUEBA PRUEBA!!!! *************/
.empresa {
  margin-top: 12px;
}

.empresa-title {
  font-size: 28px;
  border-bottom: 1px black solid;
  margin-top: 8px;
  border-top: 1px black solid;
  padding: 16px;
}

.empresa-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
}

.empresa-grid-image {
  grid-area: 1/1/3/3;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.empresa-grid-subtitle {
  grid-column: 3/5;
  grid-row: 1/2;
  align-self: end;
  padding: 16px;
  font-size: 24px;
}

.empresa-grid-text {
  grid-column: 3/5;
  grid-row: 2/3;
  padding: 16px;
}

.fortalezas {
  margin-top: 12px;
}

.fortalezas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

.fortalezas-grid-title {
  font-size: 28px;
  margin-top: 8px;
  padding: 16px;
  grid-column: 1/4;
  grid-row: 1/2;
  border-bottom: 1px black solid;
}

.fortalezas-grid-subtitle1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 24px;
  padding: 16px;
}

.fortalezas-grid-text1 {
  grid-column: 1/2;
  grid-row: 3/4;
  padding: 16px;
  border-right: 0.5px rgba(196, 193, 193, 0.668) solid;
}

.fortalezas-grid-subtitle2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 24px;
  padding: 16px;
}

.fortalezas-grid-text2 {
  grid-column: 2/3;
  grid-row: 3/4;
  padding: 16px;
  border-right: 0.5px rgba(196, 193, 193, 0.668) solid;
}

.fortalezas-grid-subtitle3 {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 24px;
  padding: 16px;
}

.fortalezas-grid-text3 {
  grid-column: 3/4;
  grid-row: 3/4;
  padding: 16px;
}

.talleres {
  margin-top: 12px;
  margin-bottom: 24px;
}

.talleres-grid-title {
  font-size: 28px;
  margin-top: 8px;
  padding: 16px;
  grid-column: 1/4;
  grid-row: 1/2;
  border-bottom: 1px black solid;
}

.talleres-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(7, auto);
  gap: 20px;
}

.talleres-grid-subtitle1 {
  grid-column: 1/2;
  grid-row: 2/3;
  font-size: 24px;
  align-self: end;
  padding-left: 16px;
}

.talleres-grid-image1 {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 100%;
}

.talleres-grid-subtitle2 {
  grid-column: 2/3;
  grid-row: 2/3;
  font-size: 24px;
  align-self: end;
  padding-left: 16px;
}

.talleres-grid-image2 {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 100%;
}

.talleres-grid-subtitle3 {
  grid-column: 3/4;
  grid-row: 2/3;
  font-size: 24px;
  align-self: end;
  padding-left: 16px;
}

.talleres-grid-image3 {
  grid-column: 3/4;
  grid-row: 3/4;
  width: 100%;
}

.talleres-grid-subtitle4 {
  grid-column: 1/2;
  grid-row: 4/5;
  font-size: 24px;
  align-self: end;
  padding-left: 16px;
}

.talleres-grid-image4 {
  grid-column: 1/2;
  grid-row: 5/6;
  width: 100%;
}

.talleres-grid-subtitle5 {
  grid-column: 2/3;
  grid-row: 4/5;
  font-size: 24px;
  align-self: end;
  padding-left: 16px;
}

.talleres-grid-image5 {
  grid-column: 2/3;
  grid-row: 5/6;
  width: 100%;
}

.talleres-grid-subtitle6 {
  grid-column: 3/4;
  grid-row: 4/5;
  font-size: 24px;
  align-self: end;
  padding-left: 16px;
}

.talleres-grid-image6 {
  grid-column: 3/4;
  grid-row: 5/6;
  width: 100%;
}

.talleres-grid-subtitle7 {
  grid-column: 1/2;
  grid-row: 6/7;
  font-size: 24px;
  align-self: end;
  padding-left: 16px;
}

.talleres-grid-image7 {
  grid-column: 1/2;
  grid-row: 7/8;
  width: 100%;
}

.talleres-grid-subtitle8 {
  grid-column: 2/3;
  grid-row: 6/7;
  font-size: 24px;
  align-self: end;
  padding-left: 16px;
}

.talleres-grid-image8 {
  grid-column: 2/3;
  grid-row: 7/8;
  width: 100%;
}

.talleres-grid-subtitle9 {
  grid-column: 3/4;
  grid-row: 6/7;
  font-size: 24px;
  align-self: end;
  padding-left: 16px;
}

.talleres-grid-image9 {
  grid-column: 3/4;
  grid-row: 7/8;
  width: 100%;
}

.clientes {
  margin-top: 12px;
  margin-bottom: 32px;
}

.clientes-title {
  font-size: 28px;
  margin-top: 8px;
  padding: 16px;
  border-bottom: 1px black solid;
}

.clientes-carrousel {
  margin: 0 auto;
  background-color: rgb(64, 63, 63);
  height: 240px;
  width: 460px;
}

@media (max-width: 600px) {
  .empresa-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
  }
  .empresa-grid-image {
    grid-area: 1/1/2/2;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .empresa-grid-subtitle {
    grid-column: 1/2;
    grid-row: 2/3;
    align-self: end;
    padding: 16px;
    font-size: 24px;
  }
  .empresa-grid-text {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 16px;
  }
  .fortalezas-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, auto);
  }
  .fortalezas-grid-title {
    font-size: 28px;
    margin-top: 8px;
    padding: 16px;
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: 1px black solid;
  }
  .fortalezas-grid-subtitle1 {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 24px;
    padding: 16px;
  }
  .fortalezas-grid-text1 {
    grid-column: 1/2;
    grid-row: 3/4;
    padding: 16px;
    border-right: 0.5px rgba(196, 193, 193, 0.668) solid;
  }
  .fortalezas-grid-subtitle2 {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 24px;
    padding: 16px;
  }
  .fortalezas-grid-text2 {
    grid-column: 1/2;
    grid-row: 5/6;
    padding: 16px;
    border-right: 0.5px rgba(196, 193, 193, 0.668) solid;
  }
  .fortalezas-grid-subtitle3 {
    grid-column: 1/2;
    grid-row: 6/7;
    font-size: 24px;
    padding: 16px;
  }
  .fortalezas-grid-text3 {
    grid-column: 1/2;
    grid-row: 7/8;
    padding: 16px;
  }
  .talleres-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(19, auto);
    gap: 12px;
  }
  .talleres-grid-title {
    font-size: 28px;
    margin-top: 8px;
    padding: 16px;
    grid-column: 1/2;
    grid-row: 1/2;
    border-bottom: 1px black solid;
  }
  .talleres-grid-subtitle1 {
    grid-column: 1/2;
    grid-row: 2/3;
    font-size: 24px;
    align-self: end;
    padding-left: 16px;
  }
  .talleres-grid-image1 {
    grid-column: 1/2;
    grid-row: 3/4;
    width: 100%;
  }
  .talleres-grid-subtitle2 {
    grid-column: 1/2;
    grid-row: 4/5;
    font-size: 24px;
    align-self: end;
    padding-left: 16px;
  }
  .talleres-grid-image2 {
    grid-column: 1/2;
    grid-row: 5/6;
    width: 100%;
  }
  .talleres-grid-subtitle3 {
    grid-column: 1/2;
    grid-row: 6/7;
    font-size: 24px;
    align-self: end;
    padding-left: 16px;
  }
  .talleres-grid-image3 {
    grid-column: 1/2;
    grid-row: 7/8;
    width: 100%;
  }
  .talleres-grid-subtitle4 {
    grid-column: 1/2;
    grid-row: 8/9;
    font-size: 24px;
    align-self: end;
    padding-left: 16px;
  }
  .talleres-grid-image4 {
    grid-column: 1/2;
    grid-row: 9/10;
    width: 100%;
  }
  .talleres-grid-subtitle5 {
    grid-column: 1/2;
    grid-row: 10/11;
    font-size: 24px;
    align-self: end;
    padding-left: 16px;
  }
  .talleres-grid-image5 {
    grid-column: 1/2;
    grid-row: 11/12;
    width: 100%;
  }
  .talleres-grid-subtitle6 {
    grid-column: 1/2;
    grid-row: 12/13;
    font-size: 24px;
    align-self: end;
    padding-left: 16px;
  }
  .talleres-grid-image6 {
    grid-column: 1/2;
    grid-row: 13/14;
    width: 100%;
  }
  .talleres-grid-subtitle7 {
    grid-column: 1/2;
    grid-row: 14/15;
    font-size: 24px;
    align-self: end;
    padding-left: 16px;
  }
  .talleres-grid-image7 {
    grid-column: 1/2;
    grid-row: 15/16;
    width: 100%;
  }
  .talleres-grid-subtitle8 {
    grid-column: 1/2;
    grid-row: 16/17;
    font-size: 24px;
    align-self: end;
    padding-left: 16px;
  }
  .talleres-grid-image8 {
    grid-column: 1/2;
    grid-row: 17/18;
    width: 100%;
  }
  .talleres-grid-subtitle9 {
    grid-column: 1/2;
    grid-row: 18/19;
    font-size: 24px;
    align-self: end;
    padding-left: 16px;
  }
  .talleres-grid-image9 {
    grid-column: 1/2;
    grid-row: 19/20;
    width: 100%;
  }
  .clientes {
    margin-top: 12px;
    margin-bottom: 32px;
    border-bottom: 1px black solid;
  }
  .clientes-title {
    font-size: 28px;
    margin-top: 8px;
    padding: 16px;
    border-bottom: 1px black solid;
  }
  .clientes-carrousel {
    margin: 0 auto;
    background-color: rgb(64, 63, 63);
    height: auto;
    width: auto;
  }
}
/*Estilos del contenido principal de PROYECTOS****************/
.proyectos-title {
  font-size: 28px;
  border-bottom: 1px black solid;
  margin-top: 8px;
  border-top: 1px black solid;
  padding: 16px;
}

.contenidoPrincipalProyectos {
  margin-top: 12px;
}
.contenidoPrincipalProyectos h2 {
  font-size: 28px;
  border-bottom: 1px black solid;
  margin-top: 8px;
  border-top: 1px black solid;
  padding: 16px;
}
.contenidoPrincipalProyectos div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contenidoPrincipalProyectos span {
  margin-left: 8px;
  margin-right: 8px;
  padding: 12px;
}
.contenidoPrincipalProyectos img {
  height: 100%;
  width: 100%;
  border-radius: 8px;
}

@media (max-width: 600px) {
  .contenidoPrincipalProyectos h2 {
    font-size: 28px;
    border-bottom: 1px black solid;
    margin-top: 8px;
  }
  .contenidoPrincipalProyectos div {
    display: flex;
    flex-direction: column;
  }
  .contenidoPrincipalProyectos span {
    padding: 5%;
  }
  .contenidoPrincipalProyectos img {
    border-radius: 8px;
  }
}
/*Estilos del contenido principal de COTIZACIONES************/
.contenidoPrincipalCotizaciones {
  margin-top: 12px;
}
.contenidoPrincipalCotizaciones h2 {
  font-size: 28px;
  border-bottom: 1px black solid;
  margin-top: 8px;
  border-top: 1px black solid;
  padding: 16px;
}
.contenidoPrincipalCotizaciones form {
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 28px;
}

@media (max-width: 600px) {
  .contenidoPrincipalCotizaciones {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenidoPrincipalCotizaciones h2 {
    font-size: 20px;
    padding: 24px;
    border-top: 1px solid black;
  }
}
/*Estilos de LA PRUEBA DE COTIZACIONES 2 **PRUEBA** **PRUEBA** */
.cotizacionesSubtitulo {
  border-top: 1px black solid;
  border-bottom: 1px black solid;
  padding: 10px;
}
.cotizacionesSubtitulo div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}
.cotizacionesSubtitulo p {
  padding: 4 px;
  margin: 0;
  font-size: 28px;
}

.cuerpoFormulario {
  display: flex;
  justify-content: center;
  height: auto;
  width: auto;
}
.cuerpoFormulario div {
  height: auto;
  padding: 24px;
}

.cuerpoFormulario-content {
  justify-items: center;
  margin: 24px;
  border-radius: 25px;
  box-shadow: 1px 1px 4px 1px rgb(194, 192, 192);
  width: 900px;
  /* HAY QUE REVISAR COMO HACER QUE EL TEXTBOX CAMBIE DE ANCHO CON CSS */
}

.formularioNombre {
  display: flex;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 0px;
}

@media (max-width: 600px) {
  .cotizacionesSubtitulo {
    border-top: 1px black solid;
    border-bottom: 1px black solid;
    padding: 8px;
  }
  .cotizacionesSubtitulo div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }
  .cotizacionesSubtitulo p {
    padding: 4 px;
    margin: 0;
    font-size: 20px;
  }
  .cuerpoFormulario {
    display: flex;
    justify-content: center;
    height: auto;
    width: 1fr;
  }
  .cuerpoFormulario div {
    height: auto;
    padding: 24px;
  }
}
/*Estilos del contenido principal de CONTACTO***************/
.contenidoPrincipalContacto {
  margin-top: 12px;
}
.contenidoPrincipalContacto h2 {
  font-size: 28px;
  border-bottom: 1px black solid;
  margin-top: 8px;
  border-top: 1px black solid;
  padding: 16px;
}
.contenidoPrincipalContacto div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.contenidoPrincipalContacto span {
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 28px;
}
.contenidoPrincipalContacto form {
  margin-left: 28px;
  margin-right: 28px;
  margin-bottom: 28px;
}

@media (max-width: 600px) {
  .contenidoPrincipalContacto div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contenidoPrincipalContacto span {
    font-size: 16px;
  }
  .contenidoPrincipalContacto iframe {
    width: 90%;
  }
}
/*Estilos del contenido principal de BOTON WHATSAPP***********/
.whatsappBoton {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 5%;
  right: 5%;
}

@media (max-width: 600px) {
  .whatsappBoton {
    width: 24px;
    height: 24px;
    position: fixed;
    bottom: 4%;
    right: 4%;
  }
}

/*# sourceMappingURL=styles.css.map */
