$color-fondo: #F8F9F9; 
$margenUniversal: 12px;
$alturaTipoh2: 28px;
$bordeBajoh2: 1px black solid;
$bordeAltoh2: 1px black solid;
$paddingh2: 16px;
$margenSuph2: 8px;
$alturaTipoh3: 24px;
$paddingText: 16px;
$bordeTextosLat: .5px rgba(196, 193, 193, 0.668) solid;