@import "https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400&family=Quicksand:wght@300;400;500&display=swap";

$color-fondo: #F8F9F9; 
$margenUniversal: 12px;
$alturaTipoh2: 28px;
$bordeBajoh2: 1px black solid;
$bordeAltoh2: 1px black solid;
$paddingh2: 16px;
$margenSuph2: 8px;
$alturaTipoh3: 24px;


body {
	font-family: "Alegreya Sans", sans-serif;
	background-color: $color-fondo;
}


/*header*/

.logoLadipPrincipal {
    height: 100px;
    width: 210px;
}

/* Estilos BANNER PRINCIPAL**************** */

.bannerPrincipal {
    display: flex;
    flex-direction: column;   
    justify-content: center;   
    align-items: flex-end;
    border-top: 1px black solid;
    height: calc(100vh - 100px);
    width: 100%;
    background-image: url(https://images.pexels.com/photos/323645/pexels-photo-323645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position-x: center;
    background-position-y: 30%;

    h1{
        color: black;
        margin-right: 12px;
        margin-bottom: 0px;
        font-size: 28px;
    }

    a{
        text-decoration: none;
        color: black;
        margin-right: 12px;
        font-size: 24px;
        border: .5px rgba(0, 0, 0, 0.226) solid;
        box-shadow: .5px .5px .5px;
        border-radius: 2px;
        padding: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

}


/* Media Query*/
@media (max-width: 600px) {

    .navBar1 {
        display: none;
    }

    .logoLadipPrincipal {
        height: 67px;
        width:  147px;
    }

    .bannerPrincipal {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        background-image: url(https://images.pexels.com/photos/323645/pexels-photo-323645.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-size: cover;
        background-position-x: 60%;
        background-position-y: 30%;

        h1 {
            color: black;
            margin-right: 12px;
            margin-left: 12px;
            font-size: 24px;
            font-weight: 400;
            background-color: #ffffffa6;
        }
    
        a {
            font-size: 20px;
        }
    }

}

/* Estilos del BANNER SECUNDARIO************* */

.bannerSecundario {
    display: flex;
    flex-direction: column;   
    justify-content: center;   
    align-items: end;
    /* height: 500px; */
    height: calc(100vh - 120px);
    width: 100%;
    background-image: url(https://images.pexels.com/photos/6758773/pexels-photo-6758773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-size: cover;
    background-position-x: center;
    background-position-y: 60%;
    margin-top: 12px;

    p {
        color: whitesmoke;
        font-size: 24px;
        font-weight: 100;
        margin-right: 12px;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.562);
        border-radius: 8px;
    }

    a{
        color: whitesmoke;
        text-decoration: none;
        font-size: 24px;
        border: 1px #D5D8DC solid;
        border-radius: 4px;
        padding: 4px;
    }

    /* Media Query del banner secundario */

@media (max-width: 600px) {
	.bannerSecundario {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		height: 100%;
		width: 100%;
		background-image: url(https://images.pexels.com/photos/6758773/pexels-photo-6758773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
		background-size: cover;
		background-position-x: center;
		background-position-y: center;
		margin-top: 12px;
		p {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			color: whitesmoke;
			font-size: 16px;
			font-weight: 50;
			padding: 4px;
			background-color: rgba(0, 0, 0, 0.808);
			border-radius: 8px;
		}
		a {
			font-size: 16px;
		}
	}
}
}

/* Media Query del BANNER SECUNDARIO */
@media (max-width: 600px) {
	.bannerSecundario {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-end;
		height: 100%;
		width: 100%;
		background-image: url(https://images.pexels.com/photos/6758773/pexels-photo-6758773.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
		background-size: cover;
		background-position-x: center;
		background-position-y: center;
		margin-top: 12px;
		p {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			color: whitesmoke;
			font-size: 16px;
			font-weight: 50;
			padding: 4px;
			background-color: rgba(0, 0, 0, 0.808);
			border-radius: 8px;
		}
		a {
			font-size: 16px;
		}
	}
}

/* Estilos del contenido Principal del INDEX********/

.contenidoPrincipalIndex{
    margin-top: $margenUniversal;

    h2{
        font-size: $alturaTipoh2;
        border-bottom: $bordeBajoh2;
        margin-top: $margenSuph2;
    }

    h3{
        font-size: $alturaTipoh3;
        border-bottom: 1px #D5D8DC solid;
    }

    div{
        display: flex;
        align-items: center;
    }

    img{
        height: 100%;
        width: 50%;
    }

    span {
        margin-left: 28px;
        margin-right: 28px;
    }

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
        border: 1px #D5D8DC solid;
        border-radius: 4px;
        padding: 8px;
    }

}

/* MediaQuery del contenido principal index */
@media (max-width: 600px) {
	.contenidoPrincipalIndex {
		display: flex;
		flex-direction: column;
		div {
			display: flex;
			flex-direction: column;
			margin: 2%;
			&:nth-child(3) {
				display: flex;
				flex-direction: column-reverse;
			}
			&:nth-child(5) {
				display: flex;
				flex-direction: column-reverse;
			}
		}
		img {
			width: 100%;
			height: 100%;
			border-radius: 8px;
		}
		span {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}
		h3 {
			margin-bottom: 12px;
			margin-top: 12px;
			font-size: 20px;
		}
		a {
			margin-bottom: 12px;
			font-size: 12px;
		}
		p {
			display: none;
		}
	}
}

/*Estilos del contenido principal de EMPRESA*************/

.contenidoPrincipalEmpresa {
    margin-top: $margenUniversal;

    h2{
        font-size: $alturaTipoh2;
        border-bottom: $bordeBajoh2;
        margin-top: $margenSuph2;
        border-top: $bordeAltoh2;
        padding: $paddingh2;
    }

    h3{
        font-size: $alturaTipoh3;
        margin-top: 80px;
    }

    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    img{
        height: 100%;
        width: 100%;
    }

    span{
        margin-left: 28px;
        margin-right: 28px;
        height: 100%;
        width: 100%;
    }
}

@media (max-width: 600px) {
	.contenidoPrincipalEmpresa {
		div {
			display: flex;
			flex-direction: column;
			padding: 5%;
		}
		img {
			border-radius: 12px;
		}
		h3 {
			padding: 5%;
			margin-top: 20px;
			font-weight: bold;
		}
	}
}


/*Estilos del contenido principal de PROYECTOS****************/

.contenidoPrincipalProyectos {
    margin-top: $margenUniversal;
    
    h2{
        font-size: $alturaTipoh2;
        border-bottom: $bordeBajoh2;
        margin-top: $margenSuph2;
        border-top: $bordeAltoh2;
        padding: $paddingh2;
    }

    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    span{
        margin-left: 28px;
        margin-right: 28px;
        padding: 16px;
    }

    img{
        height: 100%;
        width: 100%;
    }

}

@media (max-width: 600px) {
	.contenidoPrincipalProyectos {
		h2 {
			font-size: 28px;
			border-bottom: 1px black solid;
			margin-top: 8px;
		}
		div {
			display: flex;
			flex-direction: column;
		}
		span {
			padding: 5%;
		}
		img {
			border-radius: 8px;
		}
	}
}

/*Estilos del contenido principal de COTIZACIONES************/

.contenidoPrincipalCotizaciones {
    margin-top: $margenUniversal;

    h2{
        font-size: $alturaTipoh2;
        border-bottom: $bordeBajoh2;
        margin-top: $margenSuph2;
        border-top: $bordeAltoh2;
        padding: $paddingh2;
    }

    form{
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 28px;
    }

}

@media (max-width: 600px) {
	.contenidoPrincipalCotizaciones {
		display: flex;
		flex-direction: column;
		align-items: center;
		h2 {
			font-size: 20px;
			padding: 24px;
			border-top: 1px solid black;
		}
	}
}

/*Estilos de LA PRUEBA DE COTIZACIONES 2 **PRUEBA** **PRUEBA** */
.cotizacionesSubtitulo {
	border: 1px black solid;
	padding: 10px;

	div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 5px;
	}

	p {
		padding: 4 px;
		margin: 0;
		font-size: 28px;
	}
}

.cuerpoFormulario {
	display: flex;
	justify-content: center;
	height: auto;
	width: auto;
	div {
		height: auto;
		padding: 24px;
	}
}

.formularioNombre {
	display: flex;
	padding-top: 4px;
	padding-right: 4px;
	padding-bottom: 4px;
	padding-left: 0px;
}


/*Estilos del contenido principal de CONTACTO***************/

.contenidoPrincipalContacto {
    margin-top: $margenUniversal;

    h2{
        font-size: $alturaTipoh2;
        border-bottom: $bordeBajoh2;
        margin-top: $margenSuph2;
        border-top: $bordeBajoh2;
        padding: $paddingh2;
    }

    div{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    span{
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 28px;
    }

    form{
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 28px;
    }

}

@media (max-width: 600px) {
	.contenidoPrincipalContacto {
		div {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		span {
			font-size: 16px;
		}
		iframe {
			width: 90%;
		}
	}
}

/*Estilos del contenido principal de FOOTER********************/

footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px black solid;
    padding: 12px;
}
.logoIg {
    height: 20px;
    width: 20px;
}

.logoFb {
    height: 20px;
    width: 20px;
}

@media (max-width: 600px) {
	footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-end;
		font-size: 12px;
		padding: 6px;
		article {
			border-bottom: 1px black solid;
			&:nth-child(3) {
				border-bottom: none;
			}
		}
	}
}

/*Estilos del contenido principal de BOTON WHATSAPP***********/

.whatsappBoton {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10%;
    right: 10%;
}

@media (max-width: 600px) {
	.whatsappBoton {
		width: 28px;
		height: 28px;
		position: fixed;
		bottom: 6%;
		right: 6%;
	}
}
